.left-edge {
  padding-left: 2%;
}
.full-scale {
  width: 96%;
  max-width: 1020px;
}
.local {
  border-bottom-width: 1px;
  padding-bottom: 0;
  border-bottom-style: solid;
  display: inline;
}
.tutorial-link {
  width: 31%;
  float: left;
  background-color: #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  margin: 1em 1%;
}
.tutorial-links {
  margin-bottom: 3em;
  margin-left: 1%;
  clear: both;
  overflow: hidden;
}
body {
  font-size: 100%;
  font-family: 'ITCAvantGardeW01-CnBk';
}
h1 {
  font-size: 2.25em;
  padding-left: 2%;
}
h2 {
  font-size: 1.6em;
  padding-left: 2%;
  margin-top: 1em;
  margin-bottom: 1em;
}
h3 {
  padding-left: 2%;
  font-family: 'ITCAvantGardeW01-CnBd';
  color: #004494;
}
h4 {
  padding-left: 2%;
  font-family: 'ITCAvantGardeW01-CnBd';
  color: #004494;
  margin-top: 3em;
  margin-bottom: 1em;
}
img {
  background: white;
  max-height: 224px;
}
#search {
  background: white;
  height: 2em;
  margin-top: 0.5em;
  font-family: 'ITCAvantGardeW01-CnBk';
  font-size: 1em;
}
p {
  line-height: 120%;
  padding-left: 2%;
}
a {
  padding-left: 2%;
  font-family: 'ITCAvantGardeW01-CnBd';
  color: #004494;
  text-decoration: none;
}
nav a {
  padding-left: 0;
  color: white;
  font-family: 'ITCAvantGardeW01-CnBk';
}
.tutorial-link a {
  padding-left: 0;
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  display: block;
}
#mt-logo {
  font-family: 'ITCAvantGardeW01-CnBd';
  font-size: 1.6em;
}
header {
  background-color: #004494;
  width: 100%;
  color: white;
  font-family: 'ITCAvantGardeW01-CnBk';
  overflow: hidden;
  clear: both;
}
section {
  clear: both;
  overflow: hidden;
  width: 96%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  /*font-family: @mt-bold;*/
}
nav li {
  line-height: 150%;
}
hr {
  border-color: #6ab023;
  background-color: #6ab023;
  border: none;
  height: 0.1em;
  width: 96%;
  max-width: 1020px;
  margin-left: 2%;
  margin-right: 2%;
}
footer {
  background-color: #004494;
  color: white;
  width: 100%;
}
#footer-content {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
div header {
  background-color: #004494;
}
.product-line {
  font-family: 'ITCAvantGardeW01-CnBd';
}
#menu {
  padding-bottom: 1em;
  width: 96%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  background-color: #004494;
}
#logo {
  width: 73%;
  float: left;
  background-color: #004494;
  padding-top: 3em;
  padding-bottom: 1em;
}
nav {
  width: 25%;
  float: left;
  background-color: #004494;
  padding-top: 0.5em;
}
.concept-link {
  font-family: 'ITCAvantGardeW01-CnBd';
  font-size: 1.6em;
  color: #004494;
  padding-left: 2%;
}
.concept-break {
  background-color: #6ab023;
  width: 100%;
  clear: both;
  overflow: hidden;
  height: 2em;
  font-family: 'ITCAvantGardeW01-CnBk';
}
.concept-break a {
  font-family: 'ITCAvantGardeW01-CnBk';
  color: white;
  position: absolute;
  right: 2%;
  max-width: 1020px;
  width: 96%;
  text-align: right;
  padding-right: 2%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* Adjust mobile type settings based on common standard */
@media screen and (max-width: 330px) {
  #logo {
    width: 96%;
    padding-left: 2%;
  }
  nav {
    width: 96%;
    padding-left: 2%;
  }
  .tutorial-link {
    width: 96%;
  }
  #search {
    width: 96%;
    margin-bottom: 1em;
  }
}
/*# sourceMappingURL=bootcamp.css.map */