@mt-blue: #004494;
@mt-green: #6AB023;
@grey-20-percent: #CCCCCC;

@mt-book: 'ITCAvantGardeW01-CnBk';
@mt-bold: 'ITCAvantGardeW01-CnBd';

@max-width: 1020px;

.left-edge {
    padding-left: 2%;
}

.full-scale {
    width: 96%;
    max-width: @max-width;
}



body {
    font-size: 100%;
    font-family: @mt-book;
}

// Headline Styles

h1 a {
    font-size: 2.25em;
    .left-edge;
    color: white;
    font-family: @mt-book;
}

h2 {
    font-size: 1.6em;
    .left-edge;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
}

h3 {
    .left-edge;
    font-family: @mt-bold;
    color: @mt-blue;
}

h4 {
    .left-edge;
    font-family: @mt-bold;
    color: @mt-blue;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-top: 0.5em;
}

// Region styling

header {
    background-color: @mt-blue;
    width: 100%;
    color: white;
    font-family: @mt-book;
    overflow: hidden;
    clear: both;
}

section {
    clear: both;
    overflow: hidden;
    .full-scale;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: @mt-blue;
    color: white;
    width: 100%;
}

#footer-content {
    max-width: @max-width;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2%;
}

// Navigation styling

.local {
    font-family: @mt-bold;
}

// Search form styling

#searchform {
    overflow: hidden;
    min-width: 110px;
}

#search {
    background: white;
    height: 2em;
    margin-top: 0.5em;
    font-family: @mt-book;
    font-size: 1em;
    padding-left: 0.2em;
}

input {
    box-sizing: border-box;
    width: 100%;
}

input[type=submit] {
    width: 0;
}

#searchsubmit {
    display: none;
}

p {
    line-height: 120%;
    .left-edge;
    margin-bottom: 1em;
}

a {
    .left-edge;
    font-family: @mt-bold;
    color: @mt-blue;
    text-decoration: none;
}

p a {
    padding-left: 0;
}

nav a {
    padding-left: 0;
    color: white;
    font-family: @mt-book;
    font-size: 1.33em;
}

.starweigh-char-space {
    letter-spacing: 0.05em;
}

#mt-logo {
    font-family: @mt-bold;
    font-size: 1.6em;
}

#copyright {
    font-family: @mt-book;
    font-size: 1em;
}

nav a:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0;
    display: inline;
}

h1 a:hover {
    border-bottom-style: none;
}

li {
    .left-edge;
    text-indent: -2%;
    padding-bottom: 0.8em;
}

nav li {
    line-height: 150%;
    padding-left: 0;
    text-indent: 0;
    padding-bottom: 0;
}

hr {
    border-color: @mt-green;
    background-color: @mt-green;
    border: none;
    height: 0.1em;
    .full-scale;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5em;
}

div header {
    background-color: @mt-blue;
}

h1.product-line a {
    font-family: @mt-bold;
}

#menu {
    padding-bottom: 1em;
    .full-scale;
    margin-left: auto;
    margin-right: auto;
    background-color: @mt-blue;
}

#logo {
    width: 73%;
    float: left;
    background-color: @mt-blue;
    padding-top: 6em;
    padding-bottom: 1em;
}

nav {
    width: 25%;
    float: left;
    background-color: @mt-blue;
    padding-top: 1em;
}

.content-link {
    font-family: @mt-bold;
    color: @mt-blue;
    .left-edge;
}

.concept-break {
    background-color: @mt-green;
    width: 100%;
    clear: both;
    overflow: hidden;
    height: 2em;
    font-family: @mt-book;
    margin-top: 1.5em;
}

.concept-break a {
    font-family: @mt-book;
    color: white;
    position: absolute;
    right: 4%;
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#menu-icon {
    position: absolute;
    display: none;
    right: 4%;
    top: 4em;
    cursor: pointer;
    background: none;
}

.animation-container {
    margin-top: 1em;
}

#Stage {
    box-sizing: border-box;
    overflow: hidden;
    clear: both;
    width: 33%;
}

.feedback {
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    clear: left;
}

.feedback-checkbox {
    position: relative;
    top: 0.3em;
    cursor: pointer;
}

.feedback-label {
    display: inline-block;
    cursor: pointer;
}

#link-faq-right {
    height: 0;
    display: none;
}

#link-tutorials-right {
    height: 0;
    display: none;
}

#link-home-right {
    height: 0;
    display: none;
}

/* Adjust mobile type settings based on common standard */
@media screen and (max-width: 500px) {

    #logo {
        width: 96%;
        padding-top: 1em;
    }

    #menu-icon {
        top: 3em;
    }

    nav {
        width: 96%;
        .left-edge;
        padding-top: 0;
    }

    #searchform {
        clear: both;
    }

    #search {
        width: 100%;
        margin-bottom: 1em;
    }

    #menu-icon {
        display: block !important;
    }

    #navigation {
        height: 0;
        display: none;
    }

    .animation-caption {
        float: left;
        width: 100%;
        overflow: hidden;
        padding-left: 2%;
        margin-right: 2%;
    }

    .animation-container {
        float: left;
        padding-right: 2%;
        padding-left: 2%;
        overflow: visible;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .animation-section {
        clear: both;
        overflow: hidden;
        box-sizing: border-box;
    }

    .animation-caption {
        float: left;
        width: 46%;
        overflow: hidden;
        padding-left: 2%;
        margin-right: 2%;
    }

    .animation-container {
        float: left;
        padding-right: 2%;
        overflow: visible;
        width: 48%;
    }

    nav ul {
        vertical-align: baseline;
        display: block;
        clear: both;
    }

    nav li {
        float: right;
        padding-left: 1em !important;
    }

    #searchform {
        clear: both;
        max-width: 75%;
        margin-top: 0.3em;
        padding-left: 25%;
    }

    #logo {
        padding-top: 3em;
        width: 58%;
    }

    nav {
        padding-top: 3em;
        width: 41%;
    }

    #link-faq {
        height: 0;
        display: none;
    }

    #link-tutorials {
        height: 0;
        display: none;
    }

    #link-home {
        height: 0;
        display: none;
    }

    #link-faq-right {
        height: 1em;
        display: block;
    }

    #link-tutorials-right {
        height: 1em;
        display: block;
    }

    #link-home-right {
        height: 1em;
        display: block;
    }
}
