@mt-blue: #004494;
@mt-green: #6AB023;

@mt-book: 'ITCAvantGardeW01-CnBk';
@mt-bold: 'ITCAvantGardeW01-CnBd';

@max-width: 1000px;

body {
    font-size: 100%;
}

h1 {
    font-size: 2.25em;    
    padding-left: 2%;
}

h2 {
    font-size: 1.6em;
}

#mt-logo {
    font-family: @mt-bold;
    font-size: 1.6em;
}

header {
    background-color: @mt-blue;
    width: 100%;
    color: white;
    font-family: @mt-book;
    height: 5em;
    padding-top: 3em;
}

section {
    clear: both;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

li {
    line-height: 150%;
}

hr {
    border-color: @mt-green;
    background-color: @mt-green;
    border: none;
    height: 0.1em;
    max-width: 1000px;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: @mt-blue;
    color: white;
    width: 100%;
}

#footer-content {
    max-width: @max-width;
    margin-left: auto;
    margin-right: auto;
}

div header {
    background-color: @mt-blue;
}

.product-line {
    font-family: @mt-bold;
}

#menu {
    padding-bottom: 1em;
    max-width: @max-width;
    margin-left: auto;
    margin-right: auto;
    background-color: @mt-blue;
}

#logo {
    width: 73%;
    float: left;
    background-color: @mt-blue;
}

nav {
    width: 25%;
    float: left;
    background-color: @mt-blue;
    padding-top: -3em;
}


